<%= form_for(@bookmark, remote: true) do |f| %>
  <p>
    <%= f.label :page_title %>:
    <%= f.text_field :page_title %>
  </p>
  <p>
    <%= f.label :page_url %>
    <%= f.text_field :page_url %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>