<div class="greeting">
  <h3>Hello, <%= @user.email %></h3>
  </div>

<div class="user-page-container">
  <div class="list-gifts-container">
    <h3>My Items</h3>
    <% @bookmarks.each do |bookmark| %>
      <% if bookmark_belongs_to_user?(bookmark) %>
        <table width="900">
          <tbody>
          <tr>
            <td><h3 class="item"><%= bookmark.title[0..35] + " ..." %></h3>
            <a href="<%= bookmark.url %>" target="_blank"><%= bookmark.short_url %></a>

              <div class="delete">
                <%= link_to "Delete", bookmark_path(bookmark.id), method: :delete, class: "delete" %>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </div>
</div>

