<div class="what_is">
  <h2>What is GiftHorse?</h2>

  <p>GiftHorse is a place for you to keep a list of stuff you like. Using the GiftHorse toolbar tool, you can add a
    bookmark for anything you've found while browsing the web that you like and want to add to your wishlist. By collecting items
    you like, friends and family members can easily browse items in your list, and the next time
    a special occasion arrives, giving will be easier than ever. For you, and for them.</p>

  <p>Simply drag this <a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='http://localhost:3000/assets/bookmark.js';})();">GiftHorse</a> link to the bookmarks bar of your favorite browser, and the next time you find something you like on the web, you
  can save it to your GiftHorse.  It's that simple.</p>
</div>

<div class="half">
  <div class="login-home">
    <h3>Login</h3>
    <% if @user.errors.present? %>
      <div class="errors">
        <ul class="error-list">
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_for :session, url: sessions_path do |f| %>
      <p>
        <%= f.label :email, class: "form-label" %>
        <%= f.text_field :email %>
      </p>

      <p>
        <%= f.label :password, class: "form-label" %>
        <%= f.password_field :password %>
      </p>

      <p>
        <%= f.submit "Login", class: "login-button-too" %>
      </p>
    <% end %>
  </div>

  <div class="create-home">
    <h3>Create An Account</h3>

    <%= form_for @user do |f| %>

      <% if @user.errors.present? %>
        <div class="errors">
          <ul class="error-list">
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <p>
        <%= f.label :email, class: "form-label" %>
        <%= f.text_field :email %>
      </p>

      <p>
        <%= f.label :password, class: "form-label" %>
        <%= f.password_field :password %>
      </p>

      <p>
        <%= f.label :password_confirmation, class: "form-label" %>
        <%= f.password_field :password_confirmation %>
      </p>

      <p>
        <%= f.submit "Create Account", class: "create-button" %>
      </p>
    <% end %>
  </div>
</div>