<div class="greeting">
  <h3>Hello, <%= @user.first_name %></h3>
</div>
<div class="user-page-container">
  <div class="find-friends-list">
    <h2>People you may know</h2>
    <% @users.each do |user| %>
      <% if user.email != current_user.email && are_not_friends?(user) %>
        <div class="list-users">
          <%= form_for [user, @friendship] do %>
            <ul>
              <li><%= user.first_name %> <%= user.last_name %></li>
              <li><%= submit_tag "Add Friend", class: "add-friend" %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>