<!DOCTYPE html>
<html>
<head>
  <title>The GiftHorse</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="page-container">
  <header>
    <h1><span><%= link_to "GiftHorse ", root_path %></span></h1>
  </header>
  <main>
    <div class="greeting">
    <% if logged_in? %>
      <li class="logout-link"><%= link_to 'Logout', logout_path, method: :delete %></li>
      <li class="my-account"><%= link_to 'My Account', user_path(session[:id]) %></li>
    <% end %>
    </div>
    <div class="notice-alert">
    <%= flash[:notice] %>
    <%= flash[:alert] %>
    </div>
    <%= yield %>
  </main>
  <footer>&copy; martha berner | all rights reserved </footer>
</div>
</body>
</html>