<!DOCTYPE html>
<html>
<head>
  <title>The GiftHorse</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="page-container">
  <header>
    <h1><span><%= link_to "GiftHorse ", root_path %></span></h1>
  </header>
  <main>
    <% if flash.notice.present? %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% elsif flash.alert.present? %>
      <div class="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <% if logged_in? %>
      <div class="greeting">
        <li class="logout-link"><%= link_to 'Logout', logout_path, method: :delete %></li>
        <li class="logout-link" id="find-friends"><%= link_to 'Find Friends', new_user_friendship_path(current_user) %></li>
        <% if friend_requests? %>
         <li class="logout-link" id="requests"> <%= link_to "Friend Requests", pending_friendships_path(current_user) %></li>
        <% end %>
        <li class="my-account"><%= link_to 'My Account', user_path(session[:id]) %></li>
      </div>
    <% end %>
    <%= yield %>
  </main>
  <footer>&copy; <%= link_to "martha berner", about_path %> | all rights reserved</footer>
</div>
</body>
</html>